@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 170 46% 90%;
    --bg-start: #69b4a04d;
    --bg-end: 168, 25%, 92%;
    --foreground: 0 0% 3.9%;
    --card: 168, 25%, 92%, 0.2;
    --card-foreground: 0 0% 3.9%;
    --popover: 170 46% 90%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 164, 33%, 56%, 0.1;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 164 33% 56%;
    --chart-2: 0 38% 78%;
    --chart-3: 240 30% 78%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0, 0%, 98%, 0.1;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 170 46% 5%;
    --bg-start: rgb(4, 70, 50, 0.3);
    --bg-end: 170 46% 5%;
    --foreground: 0 0% 98%;
    --card: 170, 46%, 5%, 0.9;
    --card-foreground: 0 0% 98%;
    --popover: 170 46% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 162, 89%, 15%, 0.1;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 162 89% 15%;
    --chart-2: 0 38% 58%;
    --chart-3: 220 30% 58%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 162, 89%, 15%, 0.1;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 162 89% 15% 0.7;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes explosion {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2.5);
    opacity: 0.05;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes gradient-loading {
  0% {
    left: -100%;
    opacity: 0.4;
  }

  50% {
    left: 100%;
    opacity: 0.2;
  }

  100% {
    left: -100%;
    opacity: 0.4;
  }
}

.hover-gradient-border {
  transition: border 0.3s ease;
}

.hover-gradient-border:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
  background-size: 200% 200%;
  animation: gradient-border 3s ease infinite;
  background-origin: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
}

.gradient-border-box {
  position: relative;
}

.gradient-border-box .gradient {
  content: "";
  position: absolute;
  margin: 10px;
  filter: blur(20px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
  z-index: -1;
  background-size: 300% 300%;
  animation: gradient-border 3s ease infinite;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.gradient-border-box .gradient.finish {
  animation: explosion 1s ease forwards;
}

.gradient-animation {
  background: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
  opacity: 1;
  filter: blur(1px);
  background-size: 300% 300%;
  animation: gradient-loading 3s ease infinite;
}

.gradient-animation:nth-child(even) {
  animation-delay: 0s;
}

.gradient-animation:nth-child(odd) {
  animation-delay: 0.3s;
}

.gradient-text {
  position: relative;
  background: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: fadeInGradient 1s ease-in-out forwards;
  transition: 0.3s;
}

@keyframes fadeInGradient {
  0% {
    color: transparent;
    background: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    filter: blur(2px);
  }

  100% {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: var(--foreground);
    opacity: 1;
  }
}